*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,p{
    font-size: 16px;
    font-weight: 400;
}
html{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --text-xl: 2.25rem; /* 36px*/
    --text-lg: 1.125rem; /* 18px*/
    --text-md: 1rem; /* 16px*/
    --text-sm: 0.75rem; /* 12px*/
}

.container{
    margin: 0 auto;
    min-width: 400px;
    max-width: 800px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-inline: 2em;
    padding-bottom: 1em;
}

.form{
    width: 45%;
}

.page-title{
    font-size: var(--text-xl);
    font-weight: 700;
    color: #4E5150;

}
.contact-header h1, .shipping-header h1{
    font-size: var(--text-lg);
    font-weight: 500;
    margin-top: 2em;
    margin-bottom: 0.625em;
}

input{
    width: 100%;
    padding: 1em;
    border: 1px solid gray;
    border-radius: 12px;
}

.billing-card{
    width: 50%;
    padding-top: 7em;
    padding-inline: 1em;
}

.label-name{
    font-size: var(--text-sm);
}
.item-panel-list{
    background-color: #f2f2f2;
    padding: 2em 1.5em;
    border-radius: 12px;
}

.item-panel{
    display: flex;
    justify-content: space-between;
}

.item-panel:first-child{
    padding-bottom: 2em;
}
.item-name{
    font-size: var(--text-md);
}

.old-price{
    font-size: var(--text-sm);
    text-decoration: line-through;
}

img{
    width: 100%;
    max-width: 100px;
    height: auto;
    border-radius: 12px;
}

.item-info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-quantity{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    border-radius: 12px;
    padding: 0.5em 0.25em;
}

/* .plus, .minus{
    background-color: #e0e0e0;
    border-radius: 1px;
    padding: 0.5em 0.5em;
    width: 14px;
    height: 14px;
} */

button{
    border-width: 0px;
    background-color: #e0e0e0;
    width: 1.125em;
    height: 1.125em;
    padding: 0.25em 0.25em;
    border-radius: 4px ;
}

.new-price{
    color: orange;
}

input{
    font-family: inherit;
}

@media (max-width:426px){
    .container{
        flex-direction: column-reverse;
        height: auto;
        width: 100%;
    }
    .billing-card, .contact, .shipping, .form{
        width: 100%;
    }
    
}